
header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  line-height: 50px;
}
header * {
  display: inline;
  height: 50px;
}

header ul {
  padding: 0;
}

header li {
  margin: 20px;
}
  
  .game {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;   
  }
  
  .create {
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  
  .auto-clicker-upgrade {
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  
  .click-multipplier-upgrade {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

#create {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 2px;
    border: 1px solid #888;
  }
  
  #reset {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 2px;
    border: 1px solid #888;
    
  }
  #multiplier {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 2px;
    border: 1px solid #888;
    
  }
  #auto {
    background-color: #fefefe;
      margin: 15% auto; /* 15% from the top and centered */
      padding: 2px;
      border: 1px solid #888;
      
  }

  #create > img {
    max-width: 140px;
     }

  body {
    background-color: whitesmoke;
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url(https://wallpapers.com/images/hd/uno-card-red-poster-fahn507dk0y40lko.jpg);
    image-rendering: -webkit-optimize-contrast;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
}
  .modal-about {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
    /* Modal Content/Box */
    .about-modal {
      top: 0;
      left: 0;
      z-index: 1;  
      background-color: #fefefe;
      margin: 15% auto; /* 15% from the top and centered */
      padding: 20px;
      border: 1px solid #888;
      width: 80%; /* Could be more or less, depending on screen size */
    }
    
    .modal-ins {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
    /* Modal Content/Box */
    .ins-modal {
      top: 0;
      left: 0;
      z-index: 1;  
      background-color: #fefefe;
      margin: 15% auto; /* 15% from the top and centered */
      padding: 20px;
      border: 1px solid #888;
      width: 80%; /* Could be more or less, depending on screen size */
  
    }.modal-contact {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
    /* Modal Content/Box */
    .contact-modal {
      top: 0;
      left: 0;
      z-index: 1;  
      background-color: #fefefe;
      margin: 15% auto; /* 15% from the top and centered */
      padding: 20px;
      border: 1px solid #888;
      width: 80%; /* Could be more or less, depending on screen size */
    }
